# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html
#
# alphabetical order
#
Andrew Speer (ASPEER)      <andrew@webdyne.org>      Andrew Speer <andrew.speer@isolutions.com.au>
Dave Rolsky (DROLSKY)      <autarch@urth.org>        Dave Rolsky <autarch@urth.org>
Jason McIntosh (JMAC)      <jmac@jmac.org>           Jason McIntosh <jmac@appleseed-sc.com>
Jason McIntosh (JMAC)      <jmac@jmac.org>           Jason McIntosh <jmac@jmac.org>
Ji-Hyeon Gim (POTATOGIM)   <potatogim@potatogim.net> Ji-Hyeon Gim <potatogim@potatogim.net>
Slaven Rezić (SREZIC)      <slaven@rezic.de>         Slaven Rezić <slaven@rezic.de>
Zakariyya Mughal (ZMUGHAL) <zmughal@cpan.org>        Zakariyya Mughal <zaki.mughal@gmail.com>
김도형 - Keedi Kim         <keedi@cpan.org>          <keedi.k@gmail.com>
김도형 - Keedi Kim         <keedi@cpan.org>          <keedi.kim@silex.kr>
김도형 - Keedi Kim         <keedi@cpan.org>          <keedi@cpan.org>
김도형 - Keedi Kim         <keedi@cpan.org>          <keedi@perl.kr>
김도형 - Keedi Kim         <keedi@cpan.org>          Keedi Kim <keedi.k@gmail.com>
김도형 - Keedi Kim         <keedi@cpan.org>          Keedi Kim <keedi.kim@silex.kr>
김도형 - Keedi Kim         <keedi@cpan.org>          Keedi Kim <keedi@cpan.org>
김도형 - Keedi Kim         <keedi@cpan.org>          Keedi Kim <keedi@perl.kr>
